<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap" rel="stylesheet">
            
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="Stylesheet" href="/css/normalize.css"/>
        <link rel="Stylesheet" href="/css/styles.css"/>
    
        <title>Register</title>
    </head>

<body class="bg-light-grey">
    <header class="pageHeader align-center">
        <h1 class="w-45 logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" /></a>
        </h1>
        <div class=" w-45 flex radius-1 bg-white divBusqueda">
            <input class="busqueda"
              type="text"
              placeholder="Buscá productos por nombre, marcas o palabras clave"
            />
            <button class="bg-white b-none"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="txt-center w-100 pHeader"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito </p>
        <div class="burgerMenu w-100">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fas fa-bars"></i></a>
            </div>
            <nav id="links" class="navi font-lg">
                <section class="section1">
                    <ul class="py-1">
                        <li><a class="nav-link" href="#">Ofertas</a></li>
                        <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                        <li><a class="nav-link" href="#">Vender</a></li>
                        <li><a class="nav-link" href="#">Ayuda</a></li>
                    </ul>
                </section>
                <section class="section2">
                
                    <ul class="py-1">
                        <li><a class="nav-link" href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                        <li><a class="nav-link" href="/login">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a class="nav-link" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </section>   
        </nav>
   
</header>
<main class="p-1 vw-70 mx-auto">
    <h2 class="title color-dark-grey">Registrate</h2>
    <form action="">
        <input class="w-100 font-m"type="text" placeholder="Nombre y Apellido" id="nombreApellido">
        <input class="w-100 font-m"type="text" placeholder="Nombre de Usuario">
        <input class="w-100 font-m" type="password" name="" id="" placeholder="Contraseña">
        <input class="w-100 font-m" type="password" name="" id="" placeholder="Compartir contraseña">
        <p class="w-100 font-m txt-center">Fecha de Nacimiento</p>
        <input class="w-100 font-m"type="date" placeholder="Fecha de Nacimiento">
        <input class="w-100 font-m"type="text" placeholder="Domicilio">
        <div class="txt-center">
            <p class="w-100 font-m">Perfil de usuario</p>
            <input type="radio" name="perfildeUsuario" id="comprador">
            <label class="font-m"for="comprador">Comprador</label>
            <input type="radio" name="perfildeUsuario" id="vendedor">
            <label class="font-m"for="vendedor">Vendedor</label>
        </div>
        <div class="txt-center">
            <p class="w-100 font-m">Intereses</p>
            <input class="font-m" type="checkbox" name="" id="">
            <label class="font-m"for="">Electro</label>
            <input class="font-m"type="checkbox" name="" id="">
            <label class="font-m"for="">Moda</label>
            <input class="font-m"type="checkbox" name="" id="">
            <label class="font-m"for="">Hogar</label>
            <input class="font-m"type="checkbox" name="" id="">
            <label class="font-m"for="">Jugueteria</label>
            <input class="font-m"type="checkbox" name="" id="">
            <label class="font-m"for="">Vida Sana</label>
        </div>
        <div class="txt-center">
            <label class="font-m "for="avatar">Selecciona tu foto de perfil:</label>
            <input class="font-m " type="file"
                   id="fotoPerfil" name="fotoPerfil"
                   accept="image/png, image/jpeg">
        </div>
        <div class="buttons">
            <button class="bg-blue color-white b-none radius-1" type="submit">Enviar</button>
            <button class="bg-blue color-white b-none radius-1"type="reset">Limpar Campos</button>
        </div>
    </form>
</main>



<footer class="footerPage bg-white">
    <div class="footerBlock">
        <i class="fa-solid fa-credit-card footerIcon"></i>
        <h4 class="color-dark-grey font-m">Pagá con tarjeta o en efectivo</h4>
    <p class="color-dark-grey font-m">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footerBlock">
        <i class="fa-solid fa-gift footerIcon"></i>
        <h4 class="color-dark-grey font-m">Envío gratis desde $ 2.500</h4>
    <p class="color-dark-grey font-m">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="footerBlock">
        <i class="fa-solid fa-user-shield footerIcon"></i>
        <h4 class="color-dark-grey font-m">Seguridad, de principio a fin</h4>
        <p class="color-dark-grey font-m">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
    <p class="w100 color-dark-grey font-m">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
<script>
    function myFunction() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
                x.style.display = "none";
        } else {
                x.style.display = "block";
        }
    }
</script>
</body>
</html>