/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/
.color-green {
    color: #39b54a;
  }
.font-lg {
    font-size: 16px;
  }
.bg-dark-grey {
    background-color: #666;
}

.color-dark-grey{
    color:#666;
}

.bg-light-grey {
    background-color: #ebebeb;
}
.navi
{
    visibility: hidden;
}
.nav-link {
    text-decoration: none;
    color: inherit;
 }
body{
    font-family: 'Roboto';
}
.pageHeader {
    background: #EAC926;
    padding-bottom: 15px;  
}
.w-100{
    width: 100%;
}

.title {
    font-size: 24px;
}

main{
    width: 90%;
    margin: auto;
}

.articulos{
    margin-bottom: 10px;
    background-color: white;
    padding-bottom: 5px;
    /*border: solid 1px black;*/
}

.divArticulos{
    /*border: solid 1px red;*/
    border-top: solid 1px #ebebeb ;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;

}
.pageHeader h1{
    width: 50%;
}

.precios{
    font-size: 18px;
}
.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
.burgerMenu{
    text-align:center;
    background-color: #1259c3;
    border-radius: 20%;
    width: 35px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.burgerMenu i{
    color:white;
}

.pCentrado{
    text-align: center;
}

.footerPage{
    padding-top: 50px;
}
.footerBlock{
   text-align: center;
   margin-bottom: 30px;
   margin-left: 50px;
   margin-right: 50px;
}
.footerBlock i {
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}
.footerBlock p{
    color:#666;
    font-size: 15.5px;
}
.footerBlock h4{
    color:#666;
    font-size: 20px;
}
.footerCopy{
    color:#666;
    font-size: 15.5px;
}

.productShadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


@media (min-width: 480px){
    /*tablet*/
    .burgerMenu {
       visibility:  hidden;
    }
    .navi{
    visibility: visible;
    }
}

@media (min-width: 769px){
    /*laptop*/
    .productShadow{
        box-shadow: none;
    }
    .descripcion{
        display: none;
    }
}
@media (min-width: 1281px){
    /*desktop*/
  
}
    
    
